@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f3ef;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px; /* prevents navbar overlap */
}